body{
    background: #080808;
    color: #ffff;
}
#header{
    display: flex;
    justify-content: space-between;

}
h1{
    font-size: 80px;
    padding-right: 100vh;
    font-weight: 800;

}
.about-group .about{
    color: #ababab;
    
}